@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  /* max-width: 100%; */
}

body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

/* Controls Main Title Header with Issue/Date */
.header-grid {
  display: grid;
  grid-template-columns: 115px auto 115px;
  place-content: space-between;
  border-bottom-width: 2px;
  border-color: rgb(51 65 85);
  margin-left: 80px;
  margin-right: 80px;
}

.monaco-editor {
  /* padding-top: 15px; */
  overflow: hidden;
  margin: 0;
}

.animate-rotate {
  animation: rotating 2s 0.25s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
