@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  max-width: 100%;
}

body {
  background-color: #fdf5e8;
  color: #333333;
}

.CodeMirror-selected {
  /* selected text */
  background: #0663d3 !important;
}

.animate-rotate {
  animation: rotating 2s 0.25s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
