@tailwind base;

@tailwind components;
@tailwind utilities;

* {
  /* max-width: 100%; */
}

body {
  background-color: #fdf5e8;
  color: #333333;
  display: flex;
  justify-content: center;
}

.monaco-editor {
  /* padding-top: 15px; */
  overflow: hidden;
  margin: 0;
}

.animate-rotate {
  animation: rotating 2s 0.25s linear infinite;
}

/* Custom Scrollbar Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Custom Scrollbar Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #fdf5e8;
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ede4c5;
  border-radius: 14px;
  border: 1px solid #e6e2d8;
}

/*Animation for Execute */
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
